<% layout("layouts/boilerplate") %>
<div class="container p-5">
    <div class="row">

        <h1>All Campgrounds</h1>
        <% for(let camp of camps) {  %>
        <div class="col-12 mb-2">
            <div class="d-flex p-5 h-100 border rounded">
                <a class="container" href="/camps/<%= camp._id %>"><img src="<%= camp.images[0].url %>" alt="image"
                        class="w-75 object-fit-cover rounded" alt=""></a>
                <div class="p-5">
                    <a href="/camps/<%= camp._id %>"><%= camp.title %></a>
                    <p>$<%= camp.price %></p>
                    <p><%= camp.location %></p>
                    <p><%= camp.description %></p>
                    <a href="/camps/<%= camp._id %>" class="btn btn-primary ">View <%= camp.title %></a>
                </div>
            </div>
        </div>
        <% } %>

    </div>

</div>